.menu{
    height: calc(100vh - 60px);
    overflow-y:auto;
    overflow-x: hidden;
}
.content{
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    height: calc(100vh - 110px);
    margin: 10px;
    overflow-y: auto;
    transition: 0.8s;
}